<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Add A New User</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-users"></span>Add Users</h1>
        <a href="/profile" class="btn btn-default btn-sm">Back</a>


    </div>

    <div>    <!-- LOGIN FORM -->
    <form action="/addUsers" method="post">
        <div class="col-sm-6">
            <label>Name</label>
            <input type="text" id = "email" class="form-control" name="naamDocent">
        </div>
        <div class="col-sm-6">
            <label>E-mail</label>
            <input type="text" class="form-control" name="emailDocent">
        </div>
          <div class="col-sm-6" > 
                <p></p>
                          <label>De bhv'r is aanwezig: </label>
         <input type="checkbox" name="aanwezig" id="docentAanwezig" >
                                   <label> ja</label>

    </form>

                <p></p>
            <button type="submit" onclick="validate()" class="btn btn-warning btn-lg">Add User</button></div>     
    </div>

    </form>
    <form>

    </div>



</div>
</body>
</html>