<!-- views/graphs.ejs -->
<!doctype html>
<html>
<head>
    <title>Situation Awareness</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
    <div class="page-header text-center">
        <h1><span class="fa fa-bar-chart-o"></span> Graph</h1>
        <a href="/profile" class="btn btn-default btn-sm">Back</a>
    </div>
<div>
    <a href="https://plot.ly/~jaapjood/26/" target="_blank" title="y" style="display: block; text-align: center;"><img src="https://plot.ly/~jaapjood/26.png" alt="y" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="jaapjood:26" src="https://plot.ly/embed.js" async></script>
</div>


</body>
</html>