<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/graphs" class="btn btn-default btn-sm">Graphs</a>
        <a href="/addUsers" class="btn btn-default btn-sm">Add Users</a>

    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Admin Panel</h3>

                    <p>
                        <strong>Ingelogd als: </strong> <%= user.local.email %><br>
                    </p>
                    <div>                    
                        <p> <% users.forEach( function( user ){ %>
                        <strong>Naam Docent: </strong> <%= user.naamDocent %><br>
                        <strong>Email Docent: </strong> <%= user.emailDocent %><br>
                        <strong>Aanwezig: </strong> <% if(user.aanwezig == true) {%>  Ja <%}
                        else{ %> Nee <% }%><br>
                        <a href="/profile/<%= user.naamDocent %>/delete" class="btn btn-default btn-sm">Delete User</a>
                        <a href="/profile/<%= user.naamDocent %>/wijzig" class="btn btn-default btn-sm">Wijzig status</a>

                        <br>

                         <% }); %>

                    </p></div>


            </div>
        </div>

    </div>

</div>
</body>
</html>