<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>User Added</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-users"></span>Add Users</h1>
        <a href="/addUsers" class="btn btn-default btn-sm">Back</a>

</div>
</body>
</html>